/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

xm-form-field,
xm-password-field {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;

  &:not(.ng-untouched).ng-invalid {
    input {
      border-color: red;
    }
  }

  label {
    min-width: 150px;
    text-align: right;
    margin-right: 1rem;
  }

  input {
    min-width: 250px;
  }

  .required-marker {
    color: red;
  }

  .error-message {
    margin-left: 1rem;
    color: red;
  }

}
