<form [formGroup]="form">
  <ng-container *ngFor="let field of config">
    <ng-container [ngSwitch]="field.type">
      <xm-password-field *ngSwitchCase="'password'" [label]="field.label" [formControlName]="field.name" [type]="field.type | inputType"
                         [required]="field.required"
                         [errorMessage]="form.get(field.name)?.errors?.ultimateFormBuilderError?.message"></xm-password-field>

      <xm-form-field *ngSwitchDefault [label]="field.label" [formControlName]="field.name" [type]="field.type | inputType"
                     [required]="field.required"
                     [errorMessage]="form.get(field.name)?.errors?.ultimateFormBuilderError?.message"></xm-form-field>
    </ng-container>
  </ng-container>

  <button mat-flat-button type="button" color="accent" [disabled]="form.invalid" (click)="parseSubmit()">{{submitBtnLabel}}</button>
</form>
